[submodule "src/FileCabinet/SuiteScripts/ProjectDome/pd-c-netsuite-tools"]
	path = src/FileCabinet/SuiteScripts/ProjectDome/pd-c-netsuite-tools
	url = https://github.com/Project-Dome/pd-c-netsuite-tools
